/* General Settings */
@font-face {
  font-family: 'azionicons';
  src: url('azionicons.woff2') format('woff2');
}

.ai {
  font-family: 'azionicons';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  display: inline-block;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Icons */
.ai.ai-x::before {
  content: '\ea02';
}
.ai.ai-column::before {
  content: '\ea03';
}
.ai.ai-home::before {
  content: '\ea04';
}
.ai.ai-marketplace::before {
  content: '\ea05';
}
.ai.ai-domains::before {
  content: '\ea06';
}
.ai.ai-edge-application::before {
  content: '\ea08';
}
.ai.ai-build-pillar::before {
  content: '\ea07';
}
.ai.ai-variables::before {
  content: '\ea09';
}
.ai.ai-secure-pillar::before {
  content: '\ea10';
}
.ai.ai-edge-firewall::before {
  content: '\ea11';
}
.ai.ai-edge-dns::before {
  content: '\ea12';
}
.ai.ai-deploy-pillar::before {
  content: '\ea13';
}
.ai.ai-edge-nodes::before {
  content: '\ea14';
}
.ai.ai-observe-pillar::before {
  content: '\ea15';
}
.ai.ai-data-stream::before {
  content: '\ea16';
}
.ai.ai-edge-pulse::before {
  content: '\ea17';
}
.ai.ai-real-time-metrics::before {
  content: '\ea18';
}
.ai.ai-real-time-events::before {
  content: '\ea19';
}
.ai.ai-real-time-purge::before {
  content: '\ea20';
}
.ai.ai-edge-libraries::before {
  content: '\ea21';
}
.ai.ai-edge-functions::before {
  content: '\ea22';
}
.ai.ai-edge-services::before {
  content: '\ea23';
}
.ai.ai-digital-certificates::before {
  content: '\ea24';
}
.ai.ai-network-lists::before {
  content: '\ea25';
}
.ai.ai-waf-rules::before {
  content: '\ea26';
}
.ai.ai-store::before {
  content: '\ea27';
}
.ai.ai-edge-storage::before {
  content: '\ea28';
}
.ai.ai-edge-sql::before {
  content: '\ea29';
}
.ai.ai-edge-kv::before {
  content: '\ea30';
}
.ai.ai-edge-orchestrator::before {
  content: '\ea31';
}
.ai.ai-next::before {
  content: '\ea32';
}
.ai.ai-vue::before {
  content: '\ea33';
}
.ai.ai-redis::before {
  content: '\ea34';
}
.ai.ai-vite::before {
  content: '\ea35';
}
.ai.ai-gatsby::before {
  content: '\ea36';
}
.ai.ai-hexo::before {
  content: '\ea37';
}
.ai.ai-eleventy::before {
  content: '\ea38';
}
.ai.ai-react::before {
  content: '\ea39';
}
.ai.ai-remix::before {
  content: '\ea40';
}
.ai.ai-angular::before {
  content: '\ea41';
}
.ai.ai-astro::before {
  content: '\ea42';
}
