/// Margin of a message
/// @group message
$messageMargin: 0;

/// Padding of a message
/// @group message
$messagePadding: 0.5rem;

/// Border width of a message
/// @group message
$messageBorderWidth: 0 0 0 6px;

/// Font size of a message icon
/// @group message
$messageIconFontSize: 24px;

/// Font size of a message text
/// @group message
$messageTextFontSize: 1rem;

/// Font weight of a message text
/// @group message
$messageTextFontWeight: 500;

/// Padding of an inline message
/// @group message
$inlineMessagePadding: $inputPadding;

/// Margin of an inline message
/// @group message
$inlineMessageMargin: 0;

/// Font size of an inline message icon
/// @group message
$inlineMessageIconFontSize: 1rem;

/// Padding of an inline message text
/// @group message
$inlineMessageTextFontSize: 1rem;

/// Border width of an inline message text
/// @group message
$inlineMessageBorderWidth: none;

/// Font size of a toast message icon
/// @group message
$toastIconFontSize: 24px;

/// Margin of a toast message text
/// @group message
$toastMessageTextMargin: 0 0 0 1rem;

/// Margin of a toast message
/// @group message
$toastMargin: 0 0 1rem 0;

/// Padding of a toast message
/// @group message
$toastPadding: 1rem;

/// Border width of a toast message
/// @group message
$toastBorderWidth: none;

/// Box shadow of a toast message
/// @group message
$toastShadow:
  0px 1px 4px 0px rgba(0, 0, 0, 0.08),
  0px 0px 0px 1px #3e3e3e;

/// Opacity of a toast message
/// @group message
$toastOpacity: 1;

/// Font weight of a toast message title text
/// @group message
$toastTitleFontWeight: 700;

/// Margin of a toast message detail text
/// @group message
$toastDetailMargin: $inlineSpacing 0 0 0;

/// Background of an info message
/// @group message
$infoMessageBg: #363636;

/// Border of an info message
/// @group message
$infoMessageBorder: 1px solid #60a6f6;

/// Text color of an info message
/// @group message
$infoMessageTextColor: #ffffff;

/// Icon color of an info message
/// @group message
$infoMessageIconColor: #60a6f6;

/// Background of a success message
/// @group message
$successMessageBg: #363636;

/// Border of a success message
/// @group message
$successMessageBorder: 1px solid #5ce082;

/// Text color of a success message
/// @group message
$successMessageTextColor: #ffffff;

/// Icon color of a success message
/// @group message
$successMessageIconColor: #5ce082;

/// Background of a warning message
/// @group message
$warningMessageBg: #363636;

/// Border of a warning message
/// @group message
$warningMessageBorder: 1px solid #eec252;

/// Text color of a warning message
/// @group message
$warningMessageTextColor: #fff;

/// Icon color of a warning message
/// @group message
$warningMessageIconColor: #eec252;

/// Background of an error message
/// @group message
$errorMessageBg: #363636;

/// Border of an error message
/// @group message
$errorMessageBorder: 1px solid #f66a60;

/// Text color of an error message
/// @group message
$errorMessageTextColor: #ffffff;

/// Icon color of an error message
/// @group message
$errorMessageIconColor: #f66a60;
