/// Border of an overlay container element such as dialog or overlaypanel
/// @group overlay
$overlayContentBorder: 0 none;

/// Background of an overlay container element such as dialog or overlaypanel
/// @group overlay
$overlayContentBg: $panelContentBg;

/// Box shadow of an overlay container element such as dialog or overlaypanel
/// @group overlay
$overlayContainerShadow:
  0px 0px 0px 1px #3e3e3e,
  0px 24px 38px 3px rgba(0, 0, 0, 0.14),
  0px 11px 15px -7px rgba(0, 0, 0, 0.2),
  0px 4px 4px 0px rgba(0, 0, 0, 0.25);

/// Background of a dialog header
/// @group overlay
$dialogHeaderBg: #1c1c1c;

/// Border of a dialog header
/// @group overlay
$dialogHeaderBorder: 1px solid #3e3e3e;

/// Text color of a dialog header
/// @group overlay
$dialogHeaderTextColor: $panelHeaderTextColor;

/// Font weight of a dialog header
/// @group overlay
$dialogHeaderFontWeight: 500;

/// Font size of a dialog header
/// @group overlay
$dialogHeaderFontSize: 1.125rem;

/// Padding of a dialog header
/// @group overlay
$dialogHeaderPadding: 1.25rem;

/// Padding of a dialog content
/// @group overlay
$dialogContentPadding: 1.25rem;

/// Border of a dialog footer
/// @group overlay
$dialogFooterBorder: 1px solid #3e3e3e;

/// Padding of a dialog footer
/// @group overlay
$dialogFooterPadding: 1.25rem;

/// Padding of a confirmpopup content
/// @group overlay
$confirmPopupContentPadding: $panelContentPadding;

/// Padding of a confirmpopup footer
/// @group overlay
$confirmPopupFooterPadding: 0 1rem 1rem 1rem;

/// Background of a tooltip
/// @group overlay
$tooltipBg: $textColor;

/// Text color of a tooltip
/// @group overlay
$tooltipTextColor: #1c1c1c;

/// Padding of a tooltip
/// @group overlay
$tooltipPadding: $inputPadding;
