/// Margin of a message
/// @group message
$messageMargin: 0;

/// Padding of a message
/// @group message
$messagePadding: 0.5rem;

/// Border width of a message
/// @group message
$messageBorderWidth: none;

/// Font size of a message icon
/// @group message
$messageIconFontSize: 24px;

/// Font size of a message text
/// @group message
$messageTextFontSize: 1rem;

/// Font weight of a message text
/// @group message
$messageTextFontWeight: 500;

/// Padding of an inline message
/// @group message
$inlineMessagePadding: 0.5rem;

/// Margin of an inline message
/// @group message
$inlineMessageMargin: 0;

/// Font size of an inline message icon
/// @group message
$inlineMessageIconFontSize: 1rem;

/// Padding of an inline message text
/// @group message
$inlineMessageTextFontSize: 1rem;

/// Border width of an inline message text
/// @group message
$inlineMessageBorderWidth: none;

/// Font size of a toast message icon
/// @group message
$toastIconFontSize: 32px;

/// Margin of a toast message text
/// @group message
$toastMessageTextMargin: 0 0 0 1rem;

/// Margin of a toast message
/// @group message
$toastMargin: 0 0 1rem 0;

/// Padding of a toast message
/// @group message
$toastPadding: 1rem;

/// Border width of a toast message
/// @group message
$toastBorderWidth: none;

/// Box shadow of a toast message
/// @group message
$toastShadow:
  0px 1px 4px 0px rgba(0, 0, 0, 0.08),
  0px 0px 0px 1px #e7e7e7;

/// Opacity of a toast message
/// @group message
$toastOpacity: 1;

/// Font weight of a toast message title text
/// @group message
$toastTitleFontWeight: 700;

/// Margin of a toast message detail text
/// @group message
$toastDetailMargin: $inlineSpacing 0 0 0;

/// Background of an info message
/// @group message
$infoMessageBg: #a6a6a61f;

/// Border of an info message
/// @group message
$infoMessageBorder: none;

/// Text color of an info message
/// @group message
$infoMessageTextColor: $textColor;

/// Icon color of an info message
/// @group message
$infoMessageIconColor: $textColor;

/// Background of a success message
/// @group message
$successMessageBg: #1982361f;

/// Border of a success message
/// @group message
$successMessageBorder: none;

/// Text color of a success message
/// @group message
$successMessageTextColor: $textColor;

/// Icon color of a success message
/// @group message
$successMessageIconColor: #198236;

/// Background of a warning message
/// @group message
$warningMessageBg: #ffb64d1f;

/// Border of a warning message
/// @group message
$warningMessageBorder: none;

/// Text color of a warning message
/// @group message
$warningMessageTextColor: $textColor;

/// Icon color of a warning message
/// @group message
$warningMessageIconColor: #ffb64d;

/// Background of an error message
/// @group message
$errorMessageBg: #ef40401f;

/// Border of an error message
/// @group message
$errorMessageBorder: none;

/// Text color of an error message
/// @group message
$errorMessageTextColor: $textColor;

/// Icon color of an error message
/// @group message
$errorMessageIconColor: #ef4040;
