/// Border of an overlay container element such as dialog or overlaypanel
/// @group overlay
$overlayContentBorder: 0 none;

/// Background of an overlay container element such as dialog or overlaypanel
/// @group overlay
$overlayContentBg: $panelContentBg;

/// Box shadow of an overlay container element such as dialog or overlaypanel
/// @group overlay
$overlayContainerShadow:
  0px 0px 0px 1px #e7e7e7,
  0px 5px 10px 0px rgba(0, 0, 0, 0.05);

/// Background of a dialog header
/// @group overlay
$dialogHeaderBg: #ffffff;

/// Border of a dialog header
/// @group overlay
$dialogHeaderBorder: 1px solid #e7e7e7;

/// Text color of a dialog header
/// @group overlay
$dialogHeaderTextColor: $panelHeaderTextColor;

/// Font weight of a dialog header
/// @group overlay
$dialogHeaderFontWeight: 500;

/// Font size of a dialog header
/// @group overlay
$dialogHeaderFontSize: 1.125rem;

/// Padding of a dialog header
/// @group overlay
$dialogHeaderPadding: 1.25rem;

/// Padding of a dialog content
/// @group overlay
$dialogContentPadding: 1.25rem;

/// Border of a dialog footer
/// @group overlay
$dialogFooterBorder: 1px solid #e7e7e7;

/// Padding of a dialog footer
/// @group overlay
$dialogFooterPadding: 1.25rem;

/// Padding of a confirmpopup content
/// @group overlay
$confirmPopupContentPadding: $panelContentPadding;

/// Padding of a confirmpopup footer
/// @group overlay
$confirmPopupFooterPadding: 0 1rem 1rem 1rem;

/// Background of a tooltip
/// @group overlay
$tooltipBg: $textColor;

/// Text color of a tooltip
/// @group overlay
$tooltipTextColor: #ffffff;

/// Padding of a tooltip
/// @group overlay
$tooltipPadding: $inputPadding;
