/// Border color of a panel header
/// @group panel
$panelHeaderBorderColor: #e7e7e7;

/// Border of a panel header
/// @group panel
$panelHeaderBorder: 1px solid #e7e7e7;

/// Background of a panel header
/// @group panel
$panelHeaderBg: #ffffff;

/// Text color of a panel header
/// @group panel
$panelHeaderTextColor: $textColor;

/// Font weight of a panel header
/// @group panel
$panelHeaderFontWeight: 600;

/// Padding of a panel header
/// @group panel
$panelHeaderPadding: 0.75rem 2rem;

/// Font weight of a toggleable panel header
/// @group panel
$panelToggleableHeaderPadding: 0.5rem 1rem;

/// Background of a panel header in hover state e.g. toggleable state
/// @group panel
$panelHeaderHoverBg: #e9ecef;

/// Border color of a panel header in hover state e.g. toggleable state
/// @group panel
$panelHeaderHoverBorderColor: var(--surface-border);

/// Text color of a panel header in hover state e.g. toggleable state
/// @group panel
$panelHeaderTextHoverColor: #495057;

/// Border color for the content section of a panel
/// @group panel
$panelContentBorderColor: var(--surface-border);

/// Border for the content section of a panel
/// @group panel
$panelContentBorder: 1px solid #e7e7e7;

/// Background for the content section of a panel
/// @group panel
$panelContentBg: #ffffff;

/// Background for the striped row.
/// @group panel
$panelContentEvenRowBg: #e9ecef;

/// Text color for the content section of a panel
/// @group panel
$panelContentTextColor: $textColor;

/// Padding for the content section of a panel
/// @group panel
$panelContentPadding: none;

/// Border for the footer section of a panel
/// @group panel
$panelFooterBorder: 1px solid #e7e7e7;

/// Background for the footer section of a panel
/// @group panel
$panelFooterBg: #ffffff;

/// Text color for the footer section of a panel
/// @group panel
$panelFooterTextColor: $textColor;

/// Padding for the footer section of a panel
/// @group panel
$panelFooterPadding: 0.5rem 1rem;

/// Spacing between to accordion panels
/// @group panel
$accordionSpacing: 0;

/// Border of an accordion panel header
/// @group panel
$accordionHeaderBorder: $panelHeaderBorder;

/// Background of an accordion panel header
/// @group panel
$accordionHeaderBg: $panelHeaderBg;

/// Text color of an accordion panel header
/// @group panel
$accordionHeaderTextColor: $panelHeaderTextColor;

/// Font weight of an accordion panel header
/// @group panel
$accordionHeaderFontWeight: $panelHeaderFontWeight;

/// Padding of an accordion panel header
/// @group panel
$accordionHeaderPadding: $panelHeaderPadding;

/// Background of an accordion panel header in hover state
/// @group panel
$accordionHeaderHoverBg: #e9ecef;

/// Border of an accordion panel header in hover state
/// @group panel
$accordionHeaderHoverBorderColor: $panelHeaderBorder;

/// Text color of an accordion panel header in hover state
/// @group panel
$accordionHeaderTextHoverColor: $textColor;

/// Background of an accordion panel header in expanded state
/// @group panel
$accordionHeaderActiveBg: $panelHeaderBg;

/// Border of an accordion panel header in expanded state
/// @group panel
$accordionHeaderActiveBorderColor: #dee2e6;

/// Text color of an accordion panel header in expanded state
/// @group panel
$accordionHeaderTextActiveColor: $textColor;

/// Hover background of an accordion panel header in expanded state
/// @group panel
$accordionHeaderActiveHoverBg: #e9ecef;

/// Hover border of an accordion panel header in expanded state
/// @group panel
$accordionHeaderActiveHoverBorderColor: #dee2e6;

/// Text color of an accordion panel header in expanded state
/// @group panel
$accordionHeaderTextActiveHoverColor: $textColor;

/// Border for a content section of an accordion panel
/// @group panel
$accordionContentBorder: $panelContentBorder;

/// Background for a content section of an accordion panel
/// @group panel
$accordionContentBg: $panelContentBg;

/// Text color for a content section of an accordion panel
/// @group panel
$accordionContentTextColor: $panelContentTextColor;

/// Padding for a content section of an accordion panel
/// @group panel
$accordionContentPadding: $panelContentPadding;

/// Border for a parent element containing all the headers of a tabview
/// @group panel
$tabviewNavBorder: none;

/// Border width for a parent element containing all the headers of a tabview
/// @group panel
$tabviewNavBorderWidth: none;

/// Background for a parent element containing all the headers of a tabview
/// @group panel
$tabviewNavBg: none;

/// Spacing between tabview headers
/// @group panel
$tabviewHeaderSpacing: 0;

/// Border of a tabview header
/// @group panel
$tabviewHeaderBorder: none;

/// Border width of a tabview header
/// @group panel
$tabviewHeaderBorderWidth: none;

/// Border color of a tabview header
/// @group panel
$tabviewHeaderBorderColor: none;

/// Background of a tabview header
/// @group panel
$tabviewHeaderBg: none;

/// Text color of a tabview header
/// @group panel
$tabviewHeaderTextColor: $textSecondaryColor;

/// Font weight of a tabview header
/// @group panel
$tabviewHeaderFontWeight: 600;

/// Padding of a tabview header
/// @group panel
$tabviewHeaderPadding: 0.375px 0.75rem;

/// Margin of a tabview header
/// @group panel
$tabviewHeaderMargin: 0;

/// Background of a tabview header in hover state
/// @group panel
$tabviewHeaderHoverBg: var(--surface-hover);

/// Border of a tabview header in hover state
/// @group panel
$tabviewHeaderHoverBorderColor: none;

/// Text color of a tabview header in hover state
/// @group panel
$tabviewHeaderTextHoverColor: $textColor;

/// Background of a tabview header in selected state
/// @group panel
$tabviewHeaderActiveBg: $primaryColor;

/// Border of a tabview header in selected state
/// @group panel
$tabviewHeaderActiveBorderColor: $primaryColor;

/// Text color of a tabview header in selected state
/// @group panel
$tabviewHeaderTextActiveColor: $primaryTextColor;

/// Border for content section of a tabview tab
/// @group panel
$tabviewContentBorder: 0 none;

/// Background for content section of a tabview tab
/// @group panel
$tabviewContentBg: $panelContentBg;

/// Text color for a content section of a tabview tab
/// @group panel
$tabviewContentTextColor: $panelContentTextColor;

/// Padding for a content section of a tabview tab
/// @group panel
$tabviewContentPadding: $panelContentPadding;

/// Background of a fieldset header in hover state
/// @group panel
$panelHeaderHoverBg: #e9ecef;

/// Border of a fieldset header in hover state
/// @group panel
$panelHeaderHoverBorderColor: #dee2e6;

/// Text color of a fieldset header in hover state
/// @group panel
$panelHeaderTextHoverColor: $textColor;

/// Border for a track bar of a scroll panel
/// @group panel
$scrollPanelTrackBorder: 0 none;

/// Background for a track bar of a scroll panel
/// @group panel
$scrollPanelTrackBg: #f8f9fa;

/// Padding of a card body
/// @group panel
$cardBodyPadding: none;

/// Font size of a card title
/// @group panel
$cardTitleFontSize: 1.5rem;

/// Font weight of a card title
/// @group panel
$cardTitleFontWeight: 700;

/// Font size of a card subtitle
/// @group panel
$cardSubTitleFontWeight: 700;

/// Text color of a card subtitle
/// @group panel
$cardSubTitleColor: $textSecondaryColor;

/// Padding of a card content
/// @group panel
$cardContentPadding: none;

/// Padding of a card footer
/// @group panel
$cardFooterPadding: 0 0 0 0;

/// Box shadow of a card
/// @group panel
$cardShadow: 0px 0px 0px 1px #e7e7e7;

/// Margin of divider in horizontal layout
/// @group panel
$dividerHorizontalMargin: 0;

/// Padding of divider in horizontal layout
/// @group panel
$dividerHorizontalPadding: 0;

/// Margin of divider in vertical layout
/// @group panel
$dividerVerticalMargin: 0;

/// Padding of divider in vertical layout
/// @group panel
$dividerVerticalPadding: 0;

/// Border width of the divider
/// @group panel
$dividerSize: 1px;

/// Color of the divider border
/// @group panel
$dividerColor: #e7e7e7;

/// Background of the splitter gutter
/// @group panel
$splitterGutterBg: #f8f9fa;

/// Background of the splitter gutter handle
/// @group panel
$splitterGutterHandleBg: #e7e7e7;
