/* Customizations to the designer theme should be defined here */
@layer primevue {
  @import '../azion-dark/extended-components/button';
  @import '../azion-dark/extended-components/selectbutton';
  @import '../azion-dark/extended-components/tabview';
  @import '../azion-dark/extended-components/tabmenu';
  @import '../azion-dark/extended-components/divider';
  @import '../azion-dark/extended-components/dropdownitem';
  @import '../azion-dark/extended-components/inlinemessage';
  @import '../azion-dark/extended-components/breadcumb';
  @import '../azion-dark/extended-components/sidebar';
  @import '../azion-dark/extended-components/tooltip';
  @import '../azion-dark/extended-components/datatable';
  @import '../azion-dark/extended-components/inputpassword';
  @import '../azion-dark/extended-components/toast';
  @import '../azion-dark/extended-components/inputswitch';
  @import '../azion-dark/extended-components/radiobutton';
  @import '../azion-dark/extended-components/checkbox';
  @import '../azion-dark/extended-components/tag';
  @import '../azion-dark/extended-components/markdown';
  @import '../azion-dark/extended-components/listbox';
  @import '../azion-dark/extended-components/inputnumber';
  @import '../azion-dark/extended-components/calendar';
  @import '../azion-dark/extended-components/badge';
  @import '../azion-dark/extended-components/menuitem';
  @import '../azion-dark/extended-components/progressbar';
  @import '../azion-dark/extended-components/multiselect';
}
