.markdown {
  max-width: unset;
  font-size: 16px;
  color: #333;
}

.markdown pre {
  overflow: auto;
  display: block;
  word-break: break-all;
  overflow-wrap: break-word;
  border-radius: 7px;
  background: #2b2b2b;
  color: #f8f8f2;
  margin-top: 0.8em;
  margin-bottom: 0.8em;
  padding: 0.6em;
  font-size: 0.9em;
  line-height: 1.5em;
}

.markdown *::-webkit-scrollbar {
  width: 8px;
}

.markdown *::-webkit-scrollbar-thumb {
  background-color: #7a7a7a;
  border-radius: 4px;
}

.markdown h1 {
  font-weight: 700;
  letter-spacing: -0.04rem;
  margin-top: 1.25em;
  margin-bottom: 1.25em;
}

.markdown h1:first-child,
.markdown h2:first-child,
.markdown h3:first-child,
.markdown h4:first-child,
.markdown h5:first-child {
  margin-top: 0 !important;
}

.markdown h2,
.markdown h3,
.markdown h4,
.markdown h5 {
  font-weight: 600;
  margin-top: 2rem;
}

.markdown h2 {
  font-size: 1.17em;
  line-height: 1.75;
  font-weight: 500;
}

.markdown p {
  margin-top: 1.25em;
  tab-size: 4;
  word-break: break-word;
  box-sizing: border-box;
}

.markdown blockquote {
  border-left: 2px solid #9b9b9b;
  padding: 0.5rem 1rem;
  margin: 0;
  line-height: 1.5rem;
}

.markdown blockquote p {
  margin: 0;
}

.markdown table {
  border-collapse: separate;
  border-spacing: 0;
  margin-top: 1rem;
  margin-bottom: 1rem;
  width: 100%;
}

.markdown th {
  background-color: #e0e0e0;
  border: 1px solid #ccc;
  padding: 0.25rem 0.75rem;
}

.markdown th:first-child {
  border-top-left-radius: 0.375rem;
  padding-left: 0.75rem;
}

.markdown th:last-child {
  border-top-right-radius: 0.375rem;
  padding-right: 0.75rem;
}

.markdown td {
  border: 1px solid #ccc;
  padding: 0.25rem 0.75rem;
  color: #f8f8f2;
}

.markdown td:first-child {
  padding-left: 0.75rem;
}

.markdown td:last-child {
  padding-right: 0.75rem;
}

.markdown tbody tr:last-child td:first-child {
  border-bottom-left-radius: 0.375rem;
}

.markdown tbody tr:last-child td:last-child {
  border-bottom-right-radius: 0.375rem;
}

.markdown a {
  color: #0056b3;
  text-decoration: underline;
  font-weight: 500;
}

.markdown ul,
.markdown ol {
  font-size: 1rem;
  line-height: 1.75;
  list-style-type: disc;
  margin-top: 1.25em;
  margin-bottom: 1.25em;
  padding-left: 1.625em;
}

.markdown .float-image + p {
  margin-top: 0;
}
