// Custom badge
.p-badge {
  border: 1px solid var(--surface-border) !important;
  border-radius: $borderRadius;
  color: $badgeTextColor;
  font-size: 0.75rem !important;
  font-weight: 600 !important;
  min-width: $badgeMinWidth;
  height: $badgeHeight;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;

  &.p-badge-secondary {
    background-color: $secondaryButtonBg;
    color: $secondaryButtonTextColor;
  }

  &.p-badge-success {
    background-color: $successButtonBg;
    color: $successButtonTextColor;
  }

  &.p-badge-info {
    background-color: $infoButtonBg;
    color: $infoButtonTextColor;
  }

  &.p-badge-warning {
    background-color: $warningButtonBg;
    color: $warningButtonTextColor;
  }

  &.p-badge-danger {
    background-color: $dangerButtonBg;
    color: $dangerButtonTextColor;
    border: none !important;
  }

  &.p-badge-lg {
    font-size: 1.5 * $badgeFontSize;
    min-width: 1.5 * $badgeMinWidth;
    height: 1.5 * $badgeHeight;
    line-height: 1.5 * $badgeHeight;
  }

  &.p-badge-xl {
    font-size: 2 * $badgeFontSize;
    min-width: 2 * $badgeMinWidth;
    height: 2 * $badgeHeight;
    line-height: 2 * $badgeHeight;
  }
}
