//Custom Button
.p-button {
  font-weight: 500 !important;

  &.p-button-outlined {
    color: $textColor !important;

    &:enabled:hover {
      background-color: var(--surface-hover) !important;
    }

    &:enabled:active {
      background-color: var(--gray-200) !important;
    }

    &.p-button-plain {
      color: $textColor !important;

      &:enabled:hover {
        color: $textColor !important;
      }

      &:enabled:active {
        color: $textColor !important;
      }
    }
  }

  &.p-button-text {
    color: $textColor !important;

    &:enabled:hover {
      color: $textColor !important;
    }

    &:enabled:active {
      color: $textColor !important;
    }

    &.p-button-plain {
      color: $textColor !important;

      &:enabled:hover {
        color: $textColor !important;
      }

      &:enabled:active {
        color: $textColor !important;
      }
    }
  }

  &.p-button-icon-only {
    color: $textColor !important;

    .p-button-icon-left,
    .p-button-icon-right {
      margin: 0;
    }

    &.p-button-rounded {
      border-radius: 50%;
      height: $buttonIconOnlyWidth;
    }
  }

  &.p-button-sm {
    @include scaledFontSize($fontSize, $scaleSM);
    @include scaledPadding($buttonPadding, $scaleSM);

    .p-button-icon {
      @include scaledFontSize($primeIconFontSize, $scaleSM);
    }
  }

  &.p-button-lg {
    @include scaledFontSize($fontSize, $scaleLG);
    @include scaledPadding($buttonPadding, $scaleLG);

    .p-button-icon {
      @include scaledFontSize($primeIconFontSize, $scaleLG);
    }
  }

  &.p-button-loading-label-only {
    .p-button-loading-icon {
      margin-right: 0;
    }
  }
}

.p-fluid {
  .p-button {
    width: 100%;
  }

  .p-button-icon-only {
    width: $buttonIconOnlyWidth;
  }

  .p-buttonset {
    display: flex;

    .p-button {
      flex: 1;
    }
  }
}

.p-button.p-button-link {
  color: $linkButtonColor !important;
  &:not(:disabled):focus {
    box-shadow: none !important;
  }
  &:not(:disabled):focus-visible {
    box-shadow: $linkButtonFocusShadow !important;
  }
}

.p-button-icon-only {
  width: 2rem !important;
  height: 2rem !important;
}
