// Custom DropdownItem
.p-dropdown-item {
  height: 2.375rem !important;
  display: flex !important;
  align-items: center !important;
  font-size: 0.875rem !important;
  font-weight: normal !important;
}
.p-dropdown-item-group {
  font-size: 0.875rem !important;
  font-weight: 500 !important;
}
