
.p-overlaypanel .p-overlaypanel-close:enabled:hover {
    background: none !important;
    color: transparent;
}
.p-overlaypanel:after,
.p-overlaypanel:before {
    content: none;    
}
.p-overlaypanel.p-overlaypanel-flipped:after {
    border-top-color: none !important;
}
.p-overlaypanel.p-overlaypanel-flipped:before {
    border-top-color: none !important;
}
.p-overlaypanel {
    margin-top: 0;
}