// Custom PickList
.p-picklist {
  .p-picklist-buttons {
    .p-button {
      background-color: transparent;
      transition: all 150ms;
      border: 1px solid var(--surface-border);
      color: $textSecondaryColor !important;
    }
    .p-button:hover {
      background-color: var(--surface-hover) !important;
    }
  }
  .p-picklist-list {
    .p-picklist-item {
      padding: 0 0.5rem !important;
      font-size: 0.875rem;
      min-height: 2.375rem !important;
      border-radius: $borderRadius;
      display: flex;
      align-items: center;
    }
  }
}
