// Custom TabView
.p-tabview {
  .p-tabview-nav {
    gap: 0.5rem !important;
    padding: 0 !important;

    li {
      .p-tabview-nav-link {
        font-weight: 600 !important;
        min-height: 2rem;
        font-size: 0.875rem;
        border-radius: $borderRadius;
      }
      &.p-highlight {
        .p-tabview-nav-link {
          color: #1e1e1e !important;
          font-weight: 700 !important;
        }
      }
    }
  }
  .p-tabview-nav-btn.p-link {
    background-color: var(--surface-section) !important;
    color: $textColor !important;
    width: 2rem;
    &:enabled:hover {
      background: var(--surface-hover) !important;
      color: $buttonBg;
      transition: all 150ms;
    }
  }
  .p-tabview-panels {
    height: 100%;
    background: transparent !important;
    padding: 0 !important;

    .p-tabview-panel {
      height: 100%;
    }
  }
}
