// Custom Tag
@use 'sass:math';

.p-tag {
  background: #ff6c4729 !important;
  color: #ff6c47 !important;
  font-size: 0.75rem !important;
  font-weight: 600 !important;
  padding: $tagPadding;

  &.p-tag-success {
    background-color: #16a34a33 !important;
    color: #39e478 !important;
  }

  &.p-tag-info {
    background-color: var(--surface-section) !important;
    color: $textColor !important;
    box-shadow: 0px 0px 0px 1px var(--surface-border) !important;
  }

  &.p-tag-warning {
    background-color: #ffb64d33 !important;
    color: #ffb64d !important;
  }

  &.p-tag-danger {
    background-color: #f53d3d33 !important;
    color: #f53d3d !important;
  }

  .p-tag-icon {
    margin-right: math.div($inlineSpacing, 2);
    font-size: $badgeFontSize;

    &.p-icon {
      width: $badgeFontSize;
      height: $badgeFontSize;
    }
  }
}
