.p-selectbutton {
  background: var(--surface-hover);
  padding: 4px;
  border-radius: 4px;

  .p-button {
    background: none;
    border: none;
    height: 28px;
    font-size: 14px;
    border-radius: 4px !important;
    color: var(--text-color-secondary);
    font-weight: 600;
    transition: $formElementTransition;

    .p-button-icon-left,
    .p-button-icon-right {
      color: $toggleButtonIconColor;
    }

    &:not(.p-disabled):not(.p-highlight):hover {
      border-color: none;
      color: var(--text-color);

      .p-button-icon-left,
      .p-button-icon-right {
        color: $toggleButtonIconHoverColor;
      }
    }

    &.p-highlight {
      background: var(--surface-0);
      border-color: none;
      font-weight: 600;
      border-radius: 4px;
      color: var(--text-color);

      .p-button-icon-left,
      .p-button-icon-right {
        color: $toggleButtonIconActiveColor;
      }

      &:hover {
        background: var(--surface-500);
        border-color: none;
        color: $toggleButtonTextActiveHoverColor;
        color: var(--text-color);

        .p-button-icon-left,
        .p-button-icon-right {
          color: $toggleButtonIconActiveHoverColor;
        }
      }
    }
  }

  &.p-invalid > .p-button {
    @include invalid-input();
  }
}
