/* Customizations to the designer theme should be defined here */
@layer primevue {
  // Custom SelectButton
  .p-selectbutton {
    background: var(--surface-hover) !important;
    padding: 4px !important;
    border-radius: 4px !important;

    .p-button {
      background: none !important;
      border: none !important;
      height: 28px !important;
      font-size: 14px !important;
      border-radius: 4px !important;
      color: var(--text-color-secondary) !important;
      font-weight: 600 !important;

      &:not(.p-disabled):not(.p-highlight):hover {
        border-color: none !important;
        color: var(--text-color) !important;
      }

      &.p-highlight {
        background: var(--surface-0) !important;
        border-color: none !important;
        font-weight: 600 !important;
        border-radius: 4px !important;
        color: var(--text-color) !important;

        &:hover {
          background: var(--surface-500) !important;
          border-color: none !important;
          color: $toggleButtonTextActiveHoverColor !important;
          color: var(--text-color) !important;
        }
      }
    }
  }

  // Custom TabView
  .p-tabview {
    .p-tabview-nav {
      gap: 0.8rem !important;

      li {
        .p-tabview-nav-link {
          font-weight: 500;
          min-height: 2rem;
          font-size: 0.9rem;
          border-radius: $borderRadius;
        }
      }
    }
    .p-tabview-nav-btn.p-link {
      background-color: var(--surface-0) !important;
      color: $buttonBg !important;
      width: 2rem;
      border-radius: 0;
      &:enabled:hover {
        background: var(--surface-100) !important;
        color: $buttonBg;
      }
    }
    .p-tabview-panels {
      background: transparent !important;
    }
  }

  //Custom TabMenu
  .p-tabmenu {
    .p-tabmenu-nav {
      gap: 0.8rem !important;

      .p-tabmenuitem {
        .p-menuitem-link {
          font-weight: 500 !important;
          min-height: 2rem !important;
          font-size: 0.9rem !important;
          border-radius: $borderRadius !important;
        }
      }
    }
  }

  //Custom Button
  .p-button {
    font-weight: 600 !important;
  }

  //Custom DropdownItem
  .p-dropdown-item {
    height: 2.375rem !important;
    display: flex !important;
    align-items: center !important;
    font-size: 0.875rem !important;
    font-weight: normal !important;
  }
  .p-dropdown-item-group {
    font-size: 0.875rem !important;
    font-weight: 500 !important;
  }

  //Custom MenuItem
  .p-menu {
    .p-menuitem {
      .p-menuitem-content {
        font-size: 0.875rem !important;
      }
    }
  }
}
