// Theme Specific Variables
$primaryColor: #2b2b2b;
$primaryDarkColor: #000;
$primaryDarkerColor: #000;
$primaryTextColor: #f4f4f4;

$colors: (
    "blue": #2196F3,
    "green": #4caf50,
    "yellow": #FBC02D,
    "cyan": #00BCD4,
    "pink": #E91E63,
    "indigo": #3F51B5,
    "teal": #009688,
    "orange": #F57C00,
    "bluegray": #607D8B,
    "purple": #9C27B0,
    "red": #FF4032,
    "primary": $primaryColor
);

// Mandatory Designer Variables
@import './variables/general';
@import './variables/form';
@import './variables/button';
@import './variables/panel';
@import './variables/_data';
@import './variables/_overlay';
@import './variables/_message';
@import './variables/_menu';
@import './variables/_media';
@import './variables/_misc';

:root {
    --surface-a:#ffffff;
    --surface-b:#f8f9fa;
    --surface-c:#e9ecef;
    --surface-d:#dee2e6;
    --surface-e:#ffffff;
    --surface-f:#ffffff;


    --text-color:#1c1c1c;
    --text-color-secondary:#666666;
    --primary-color:#1E1E1E;
    --primary-color-text:#f4f4f4;

    --font-family: "Roboto", sans-serif;

    --surface-0: #FDFEFD;
    --surface-50: #FCFDFD;
    --surface-100: #FBFDFD;
    --surface-200: #FBFDFD;
    --surface-300: #FBFCFC;
    --surface-400: #FAFBFC;
    --surface-500: #F9FAFB;
    --surface-600: #DADADC;
    --surface-700: #BBBBBC;
    --surface-800: #9C9C9D;
    --surface-900: #7D7C7E;


    --gray-50: #FAFAFA;
    --gray-100: #F5F5F5;
    --gray-200: #EEEEEE;
    --gray-300: #E0E0E0;
    --gray-400: #BDBDBD;
    --gray-500: #9E9E9E;
    --gray-600: #757575;
    --gray-700: #616161;
    --gray-800: #424242;
    --gray-900: #212121;

    --content-padding:#{$panelContentPadding};
    --inline-spacing:#{$inlineSpacing};
    --border-radius:#{$borderRadius};

    --surface-ground:#F9FAFB;
    --surface-section:#FFFFFF;
    --surface-card:#FFFFFF;
    --surface-overlay:#ffffff;
    --surface-border:#dee2e6;
    --surface-hover:#E7E7E7;

    --focus-ring: #{$focusShadow};
    --maskbg: #{$maskBg};
    --highlight-bg: #{$highlightBg};
    --highlight-text-color: #{$highlightTextColor};
    
    color-scheme: light;
}