/*-- 
C3 dependency omits its styling for some reason. Thus it was needed to add this styling manually 
  
> issue reported here: https://github.com/bcbcarl/react-c3js/issues/35
> css source : https://raw.githubusercontent.com/c3js/c3/master/c3.css
--*/

:root.azion-dark {
  --series-one-color: #fba86f;
  --series-two-color: #76db9b;
  --series-three-color: #85b2f9;
  --series-four-color: #f2d066;
  --series-five-color: #ff8780;
  --series-six-color: #c996fa;
  --series-seven-color: #65d2e4;
  --series-eight-color: #f38ec0;
}

:root.azion-light {
  --series-one-color: #ae510f;
  --series-two-color: #188a42;
  --series-three-color: #295bac;
  --series-four-color: #a47d06;
  --series-five-color: #b32b23;
  --series-six-color: #763cad;
  --series-seven-color: #047f94;
  --series-eight-color: #a5326b;
}

:root {
  --scale-red: #ff7c75;
  --scale-orange: #fa9e64;
  --scale-yellow: #f0ca5b;
  --scale-green: #6bd690;
}

.c3 svg {
  font: 10px sans-serif;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.c3 path,
.c3 line {
  fill: none;
  stroke: var(--surface-border);
}

.c3 text {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  fill: var(--text-color-secondary);
}

.c3-legend-item-tile,
.c3-xgrid-focus,
.c3-ygrid,
.c3-event-rect,
.c3-bars path {
  shape-rendering: crispEdges;
}

.c3-chart-arc path {
  stroke: var(--primary-color-text);
}

.c3-chart-arc rect {
  stroke: var(--primary-color-text);
  stroke-width: 1;
}

.c3-chart-arc text {
  fill: var(--primary-color-text);
  font-size: 13px;
}

/*-- Axis --*/
/*-- Grid --*/
.c3-grid line {
  stroke: #aaa;
}

.c3-grid text {
  fill: #aaa;
}

.c3-xgrid,
.c3-ygrid {
  stroke-dasharray: 2 2;
}
.c3-ygrids line {
  stroke: #aaa;
}

/*-- Text on Chart --*/
.c3-text {
  fill: var(--text-color-secondary) !important;
}

/*-- Line --*/
.c3-line {
  stroke-width: 1px;
}

/*-- Point --*/
.c3-circle {
  fill: currentColor;
}

.c3-circle._expanded_ {
  stroke-width: 1px;
  stroke: var(--primary-color-text);
}

.c3-selected-circle {
  fill: var(--primary-color-text);
  stroke-width: 2px;
}

/*-- Bar --*/
.c3-bar {
  stroke-width: 0;
}

.c3-bar._expanded_ {
  fill-opacity: 1;
  fill-opacity: 0.75;
}

/*-- Focus --*/
.c3-target.c3-focused {
  opacity: 1;
}

.c3-target.c3-focused path.c3-line,
.c3-target.c3-focused path.c3-step {
  stroke-width: 2px;
}

.c3-target.c3-defocused {
  opacity: 0.3 !important;
}

/*-- Region --*/
.c3-region {
  fill: steelblue;
  fill-opacity: 0.1;
}
.c3-region text {
  fill-opacity: 1;
}

/*-- Brush --*/
.c3-brush .extent {
  fill-opacity: 0.1;
}

/*-- Select - Drag --*/
/*-- Legend --*/
.c3-legend-item {
  font-size: 12px;
}

.c3-legend-item text {
  fill: var(--text-color);
}

.c3-legend-item-hidden {
  opacity: 0.15;
}

.c3-legend-background {
  opacity: 0.75;
  fill: var(--primary-color-text);
  stroke: lightgray;
  stroke-width: 1;
}

/*-- Title --*/
.c3-title {
  font: 14px sans-serif;
}

/*-- Tooltip --*/
.c3-tooltip-container {
  z-index: 10;
  padding: 16px;
  padding-bottom: 0;
  background-color: var(--surface-card);
  border-radius: 4px;
  border: 1px solid var(--surface-border);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  width: max-content;
  max-width: 500px;
}

.c3-tooltip {
  border-collapse: collapse;
  border-spacing: 0;
  empty-cells: show;
}

.c3-tooltip th:nth-child(1) {
  display: flex;
  height: 40px;
}

.c3-tooltip th {
  font-size: 14px;
  text-align: left;
  color: var(--text-color-secondary);
  font-weight: 400;
}

.c3-tooltip td {
  position: relative;
  font-size: 12px;
  border-top: 1px solid var(--surface-border);
  padding: 10px 0 20px 0;
}
.c3-tooltip td.name > span {
  position: absolute;
  top: -2px;
  left: 0;
  height: 2px;
  width: 75px;
}
.c3-tooltip tr[class^='c3-tooltip-name--Mean-Line---'] td.name > span {
  background-image: linear-gradient(
    90deg,
    rgba(255, 0, 0, 0) 27.78%,
    var(--surface-border) 27.78%,
    var(--surface-border) 50%,
    rgba(255, 0, 0, 0) 50%,
    rgba(255, 0, 0, 0) 77.78%,
    var(--surface-border) 77.78%,
    var(--surface-border) 100%
  );
  background-size: 18px 18px;
}

.c3-tooltip td > span {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin-right: 6px;
}

.c3-tooltip td.value {
  padding-left: 50px;
}

.c3-tooltip .value {
  text-align: right;
}

/*-- Area --*/
.c3-area {
  stroke-width: 0;
  opacity: 0.2;
}

/*-- Arc --*/
.c3-chart-arcs-title {
  dominant-baseline: middle;
  font-size: 1.3em;
}

.c3-chart-arcs .c3-chart-arcs-background {
  fill: #e0e0e0;
  stroke: var(--primary-color-text);
}

.c3-chart-arcs .c3-chart-arcs-gauge-unit {
  fill: #000;
  font-size: 16px;
}

.c3-chart-arcs .c3-chart-arcs-gauge-max {
  fill: var(--text-color-secondary);
}

.c3-chart-arcs .c3-chart-arcs-gauge-min {
  fill: var(--text-color-secondary);
}

.c3-chart-arc .c3-gauge-value {
  fill: var(--text-color);
}

.c3-chart-arc.c3-target g path {
  opacity: 1;
}

.c3-chart-arc.c3-target.c3-focused g path {
  opacity: 1;
}
.c3-shapes > path[class*='c3-line-Mean']:not(.c3-line-Mean-Line) {
  stroke-dasharray: 5 !important;
}
g[class*='c3-legend-item-Mean-Line']:not(.c3-legend-item-Mean-Line) {
  stroke-dasharray: 2 !important;
}

/*-- Zoom --*/
.c3-drag-zoom.enabled {
  pointer-events: all !important;
  visibility: visible;
}

.c3-drag-zoom.disabled {
  pointer-events: none !important;
  visibility: hidden;
}

.c3-drag-zoom .extent {
  fill-opacity: 0.1;
}
