@tailwind base;
@tailwind components;
@tailwind utilities;

/* https://github.com/primefaces/primevue/issues/882#issuecomment-1780802552 */
body.p-overflow-hidden {
  --scrollbar-width: 0px !important;
}

#app {
  font-family: var(--font-family);
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: clip;
}
