@tailwind base;
@tailwind components;
@tailwind utilities;

#app {
  font-family: var(--font-family);
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}