.p-datatable {
  border: var(--surface-border) 1px solid !important;
  border-radius: $borderRadius;

  .p-datatable-header {
    border-top-right-radius: $borderRadius;
    border-top-left-radius: $borderRadius;
  }

  .p-datatable-thead > tr > th {
    font-size: 0.875rem;
    line-height: 1.125rem;
  }

  .p-sortable-column {
    .p-sortable-column-icon {
      opacity: 0 !important;
    }
  }

  .p-sortable-column:hover {
    .p-sortable-column-icon {
      opacity: 1 !important;
      color: $tableHeaderCellHighlightTextColor !important;
    }
  }

  .p-sortable-column {
    .p-sortable-column-icon {
      opacity: 0 ;
    }

    &.p-highlight {
      .p-sortable-column-icon {
        opacity: 1 !important;
      }
    }
  }
}