.p-divider-horizontal::before {
  border-bottom-width: $dividerSize;
  border-bottom-color: $dividerColor;
}

.p-divider-vertical::before {
  border-right-width: $dividerSize;
  border-right-color: $dividerColor;
}

.p-divider-dashed::before {
  border-style: dashed;
}
.p-divider-dotted::before {
  border-style: dotted;
}
