// Custom InlineMessage
.p-inline-message .p-inline-message-icon {
  font-size: 0.875rem !important;
}
.p-inline-message .p-inline-message-text {
  font-size: 0.875rem !important;
  line-height: 100% !important;
  width: 100%;
}
