// Custom Header Sidebar
.p-sidebar {
  .p-sidebar-header {
    justify-content: space-between;
    font-size: 1.25rem !important;
    font-weight: 500 !important;
    padding-left: 2rem !important;
    padding-right: 2rem !important;
    border-bottom: 1px solid var(--surface-border) !important;
  }
}

@media only screen and (max-width: 768px) {
  .p-sidebar {
    .p-sidebar-header {
      padding: 0.75rem !important;
    }
    .p-sidebar-content {
      padding: 0.75rem !important;
    }
  }
}
