// Custom TabView
.p-toast {
  .p-toast-message {
    .p-toast-message-content {
      background: var(--surface-card) !important;
      border-radius: $borderRadius !important;
      .p-toast-message-text {
      }

      .p-toast-message-icon {
        &.p-icon {
        }
      }

      .p-toast-summary {
      }

      .p-toast-detail {
      }
    }

    .p-toast-icon-close {
      border: 1px solid var(--surface-border) !important;

      &:hover {
      }

      &:focus-visible {
      }
    }

    &.p-toast-message-info {
      background: var(--surface-section) !important;

      .p-toast-message-icon {
      }
      .p-toast-icon-close {
      }
    }

    &.p-toast-message-success {
      background: var(--surface-section) !important;

      .p-toast-message-icon {
      }
      .p-toast-icon-close {
      }
    }

    &.p-toast-message-warn {
      background: var(--surface-section) !important;

      .p-toast-message-icon {
      }
      .p-toast-icon-close {
      }
    }

    &.p-toast-message-error {
      background: var(--surface-section) !important;
      .p-toast-message-icon {
      }
      .p-toast-icon-close {
      }
    }
  }
}
