.p-tooltip {
  .p-tooltip-text {
    box-shadow:
      0 20px 25px -5px rgb(0 0 0 / 0.1),
      0 8px 10px -6px rgb(0 0 0 / 0.1) !important;
    background: #2a2a2a !important;
    font-size: 0.875rem !important;
    padding: 0.375rem 0.5rem !important;
  }
}
