name: Deploy Console Kit (STAGE)

on:
  push:
    branches:
      - dev
env:
  HUSKY: 0

jobs:
  deploy:
    runs-on: ubuntu-latest
    concurrency:
      group: deploy-console
      cancel-in-progress: false
    container:
      image: node:22-alpine
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install SO deps
        run: apk add curl git bash jq

      - name: Install dependencies
        run: yarn install

      - name: Download Azion CLI
        run: |
          wget https://github.com/aziontech/azion/releases/download/4.12.0/azion_4.12.0_linux_amd64.apk
          apk add --allow-untrusted azion_4.12.0_linux_amd64.apk

      - name: Configure Azion CLI
        run: azion -t ${{ secrets.PLATFORM_KIT_TOKEN }}

      - name: Build & Deploy
        run: azion deploy --auto --local --debug --config-dir azion/stage
        env:
          VITE_STRIPE_TOKEN_STAGE: ${{ secrets.STAGE_STRIPE_TOKEN }}
          VITE_RECAPTCHA_SITE_KEY: ${{ secrets.STAGE_RECAPTCHA_SITE_KEY }}
          VITE_SEGMENT_TOKEN: ${{ secrets.STAGE_SEGMENT_TOKEN }}
          CROSS_EDGE_SECRET: ${{ secrets.STAGE_CROSS_EDGE_SECRET}}
          NODE_ENV: stage
          VITE_ENVIRONMENT: stage
          VITE_STAGE_SENTRY: ${{ secrets.STAGE_SENTRY }}
          VITE_SSO_GITHUB:  ${{ secrets.STAGE_SSO_GITHUB }}
          VITE_SSO_GOOGLE:  ${{ secrets.STAGE_SSO_GOOGLE }}
          VITE_SSO_AZURE:  ${{ secrets.STAGE_SSO_AZURE }}
          VITE_SSO_IDP_SCIM_E2E:  ${{ secrets.STAGE_SSO_IDP_SCIM_E2E }}
          VITE_SENTRY_AUTH_TOKEN: ${{ secrets.STAGE_SENTRY_AUTH_TOKEN }}
          VITE_SENTRY_UPLOAD: true
