name: Deploy Console Kit (STAGE)

on:
  push:
    branches:
      - dev
env:
  HUSKY: 0

jobs:
  deploy:
    runs-on: ubuntu-latest
    concurrency:
      group: deploy-console
      cancel-in-progress: false
    container:
      image: node:18-alpine3.18
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install SO deps
        run: apk add curl git bash jq

      - name: Install dependencies
        run: yarn install

      - name: Download Azion CLI
        run: |
          wget https://github.com/aziontech/azion/releases/download/1.36.1/azion_1.36.1_linux_amd64.apk
          apk add --allow-untrusted azion_1.36.1_linux_amd64.apk

      - name: Configure Azion CLI
        run: azion -t ${{ secrets.PLATFORM_KIT_TOKEN }}

      - name: Build & Deploy
        run: azion deploy --auto --debug --config-dir azion/stage
        env:
          VITE_STRIPE_TOKEN_STAGE: ${{ secrets.STAGE_STRIPE_TOKEN }}
          VITE_RECAPTCHA_SITE_KEY: ${{ secrets.STAGE_RECAPTCHA_SITE_KEY }}
          VITE_SEGMENT_TOKEN: ${{ secrets.STAGE_SEGMENT_TOKEN }}
          CROSS_EDGE_SECRET: ${{ secrets.STAGE_CROSS_EDGE_SECRET}}
          NODE_ENV: stage
          VITE_ENVIRONMENT: stage
