name: Deploy Console Kit (PRODUCTION)

on:
  push:
    branches:
      - main
env:
  HUSKY: 0

jobs:
  deploy:
    runs-on: ubuntu-latest
    container:
      image: node:18-alpine3.18
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Install SO deps
        run: apk add curl git bash jq

      - name: Install dependencies
        run: yarn install

      - name: Download Azion CLI
        run: |
          wget https://github.com/aziontech/azion/releases/download/1.36.1/azion_1.36.1_linux_amd64.apk
          apk add --allow-untrusted azion_1.36.1_linux_amd64.apk

      - name: Configure Azion CLI
        run: azion -t ${{ secrets.PLATFORM_KIT_TOKEN }}

      - name: Build & Deploy
        run: azion deploy --auto --config-dir azion/production
        env:
          VITE_STRIPE_TOKEN_PROD: ${{ secrets.PROD_STRIPE_TOKEN }}
          VITE_RECAPTCHA_SITE_KEY: ${{ secrets.PROD_RECAPTCHA_SITE_KEY }}
          VITE_SEGMENT_TOKEN: ${{ secrets.PROD_SEGMENT_TOKEN }}
          CROSS_EDGE_SECRET: ${{ secrets.CROSS_EDGE_SECRET}}
          NODE_ENV: production
          VITE_ENVIRONMENT: production
