name: E2E Tests

on:
    pull_request:
      types: [opened, synchronize, reopened, ready_for_review]
    push:
      branches:
        - dev

jobs:
  run-e2e-tests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 18

      - name: Install dependencies
        run: yarn ci

      - name: Run Cypress tests
        uses: cypress-io/github-action@v6
        env: 
          CYPRESS_EMAIL_STAGE: ${{ secrets.CYPRESS_EMAIL_STAGE }}
          CYPRESS_PASSWORD_STAGE: ${{ secrets.CYPRESS_PASSWORD_STAGE }}
          CYPRESS_USERNAME_STAGE: ${{ secrets.CYPRESS_USERNAME_STAGE }}
        with:
          build: yarn build
          start: yarn dev
          browser: chrome
          wait-on: "http://localhost:5173/"
          wait-on-timeout: 120

      - name: Check E2E Test Coverage
        run: node ./scripts/check_coverage.js ./coverage/e2e/lcov.info 20

      - name: Remove lcov intermediate files
        run: rm -rf coverage/lcov-report

      - uses: actions/upload-artifact@v3
        if: ${{ always() }}
        with:
          name: coverage_e2e_report
          path: coverage
          retention-days: 7

      - uses: actions/upload-artifact@v3
        if: ${{ always() }}
        with:
          name: cypress_screenshots
          path: cypress/screenshots
          retention-days: 4

      - uses: actions/upload-artifact@v3
        if: ${{ always() }}
        with:
          name: cypress_videos
          path: cypress/videos
          retention-days: 1
