name: Pre-merge

on:
  pull_request:
    types: [opened, synchronize, reopened, ready_for_review]
    branches:
      - dev
  push:
    branches:
      - dev
  workflow_dispatch:

env:
  HUSKY: 0

jobs:
  run-tests:
    runs-on: ubuntu-latest
    container:
      image: node:18-alpine3.18
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Install SO deps
        run: apk add curl bash git

      - name: Install dependencies
        run: yarn ci

      - name: Run lint
        run: yarn lint

      - name: Run tests
        run: yarn test:unit:headless

      - name: Upload coverage reports
        uses: actions/upload-artifact@v3
        with:
          name: coverage_unit_report
          path: |
            coverage/lcov.info
            coverage/sonar-report.xml
          retention-days: 1

  sonarcloud:
    needs: [run-tests]
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
      with:
        fetch-depth: 0
    - name: SonarCloud Scan
      uses: sonarsource/sonarcloud-github-action@v2.3.0
      env:
        SONAR_TOKEN: ${{ secrets.SONAR_CLOUD_TOKEN }}
