name: Pre-merge

on:
  pull_request:
    types: [opened]
  push:
    branches:
      - workflows
      - dev
      - main

env:
  HUSKY: 0

jobs:
  tests:
    runs-on: self-hosted
    container:
      image: node:18-alpine3.18
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Install SO deps
        run: apk add curl bash git

      - name: Install dependencies
        run: yarn ci

      - name: Run lint
        run: yarn lint

      - name: Run tests
        run: yarn test:unit-headless
