name: Security Linter

on:
  pull_request:
    types: [opened, synchronize, reopened, ready_for_review]
    branches:
      - dev
      - redesigning-the-flow-of-the-user-journey-in-domain-and-edge-app
  push:
    branches:
      - dev
      - redesigning-the-flow-of-the-user-journey-in-domain-and-edge-app
  workflow_dispatch:

env:
  HUSKY: 0

jobs:
  security-linter:
    runs-on: ubuntu-latest
    container:
      image: node:18-alpine3.18
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install SO deps
        run: apk add curl bash git

      - name: Install dependencies
        run: yarn ci
        
      - name: Run security-linter
        run: yarn security-check
