name: Stage E2E Tests

on:
  schedule:
    - cron: '0 9,15,21 * * 1-5' # Runs at 6:00, 12:00, and 18:00 in UTC-3 
  workflow_dispatch:

jobs:
  run-stage-e2e-tests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 18

      - name: Run Cypress tests
        uses: cypress-io/github-action@v6
        env:
          STAGE_CYPRESS_EMAIL: ${{ secrets.STAGE_CYPRESS_EMAIL }}
          STAGE_CYPRESS_PASSWORD: ${{ secrets.STAGE_CYPRESS_PASSWORD }}
        with:
          browser: chrome
          config-file: cypress.config.stage.js
          env: environment=stage grepTags=-@xfail

      - name: Check E2E Test Coverage
        run: node ./scripts/check_coverage.js ./coverage/e2e/lcov.info 20

      - name: Remove lcov intermediate files
        run: |
          rm -rf coverage/e2e/lcov-report
          zip -r coverage.zip coverage

      - uses: actions/upload-artifact@v3
        if: ${{ always() }}
        with:
          name: coverage_e2e_report
          path: coverage.zip
          retention-days: 7

      - uses: actions/upload-artifact@v3
        if: ${{ always() }}
        with:
          name: cypress_screenshots
          path: cypress/screenshots
          retention-days: 4

      - uses: actions/upload-artifact@v3
        if: ${{ always() }}
        with:
          name: cypress_videos
          path: cypress/videos
          retention-days: 1

      - name: Upload test results in JSON format
        if: ${{ failure() }}
        uses: actions/upload-artifact@v4
        with:
          name: cypress_reports_json
          path: ./cypress/reports/*.json
          retention-days: 1

      - name: Notify test completion in Slack
        if: ${{ always() && github.event_name == 'schedule'}}
        uses: 8398a7/action-slack@v3
        with:
          status: ${{ job.status }}
          job_name: Run Cypress E2E Tests
          fields: job,took,workflow
        env:
          SLACK_WEBHOOK_URL: ${{ env.SLACK_WEBHOOK_URL }}

      - name: Notify failed tests in Slack
        if: ${{ failure() && github.event_name == 'schedule'}}
        env:
          JSON_FILE_NAME: ./cypress/reports/index.json
          SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_URL }}
        run: node ./cypress/scripts/notify_failed_tests_slack.js ${{ env.JSON_FILE_NAME }} ${{ env.SLACK_WEBHOOK_URL }}
